<div class="text-center">
  <h2>Here are all the <strong id="red-word">Food offer</strong> you are sharing</h2>
</div>

<% @food_offers.each do |offer| %>

  <p>Product name: <%=  offer.offer_name %></p>
  <p>Product category: <%=  offer.category %></p>
  <p>Quantity: <%=  offer.total_unit %></p>

  <% offer.orders.each do |order| %>
     <p>Order: <%= order.stage %></p>
  <% end %>

<% end %>

<%= link_to("Create new food offer", new_food_offer_path) %>
