<div class="container bg-secondary">

  <% @food_offers.each do |offer| %> <!-- offer iteration start -->


    <div class="row justify-content-center">
      <div class="col-7">

        <div class="company-info-outer bg-light my-5"> <!-- info outer start -->

          <div class="company-info-inner p-4"> <!-- info inner start -->

            <div class="row pt-3 pb-5 align-items-center"> <!-- image -->
              <div class="col-6">
                <%= cl_image_tag "#{current_user.photo_url}", width: 250, height: 250 %>
              </div>

              <div class="col-6 align-items-center">
                <div style="text-align: center;" class="company-name"> <!-- company details start -->
                  <h4><%= current_user.company_name %></h4>
                </div>
                <div style="text-align: center;" class="company-rating">
                  <span class="offer-rating">★★★★<span>☆</span></span>
                  <span class="offer-votes">(12 votes)</span>
                </div>
                <!-- company details end -->
                <p class="space py-2">
                </p>
                <!-- offer info start -->
                <div style="text-align: center;" class="offer-category">
                  <h5><%= offer.category %> / <%= offer.total_unit %> kgs </h5>
                </div>
                <div style="text-align: center;" class="offer-unit">
                  <p><%= offer.offer_description %></p>
                </div>
                <!-- offer info end -->

                <!-- buttons start -->

                <div style="text-align: center;" class="third mt-5">
                  <%= link_to "Edit", edit_food_offer_path(offer), class: "btn btn-primary"%>
                  <%= link_to "Delete", my_food_offer_path(offer), method: :delete , class: "btn btn-primary"%>
                </div>

                <!-- buttons end -->


              </div>
            </div>



          </div> <!-- info inner end -->


        </div> <!-- info outer end -->

      </div>
    </div>

  <% end %> <!-- offer iteration end -->

</div>









<%= link_to "Create new food offer", new_food_offer_path %>




<% @food_offers.each do |offer| %>
  <div class="card sm-4" style="max-width: 720px;">
    <div class="row">
      <div class="col-md-6">
        <%= cl_image_tag "#{current_user.photo_url}", width: 300, height: 300 %>
      </div>
      <div class="col-md-6">
          <p class="recipe-metadata">
            <span class="recipe-rating">★★★★<span>☆</span></span>
            <span class="recipe-votes">(12 votes)</span>
          </p>

        <div class="card-body">
          <h4 class="recipe-title"><span class="text-secondary">Title:</span> <%= offer.offer_name %></h4>
          <h4 class="recipe-title"><span class="text-secondary">Description:</span>
            <br><%= offer.offer_description %>
          </h4>

          <h4 class="recipe-title"><span class="text-secondary">Category:</span>  <%= offer.category %></h4>
          <p class="card-text"><small class="text-muted"><span class="text-secondary">Total weight: <span><%= offer.total_unit %> (kg) </strong></small></p>
          <div class="col-md-4">

            <div class="third mt-4">
              <%= link_to "Edit", edit_food_offer_path(offer), class: "btn btn-outline-info"%>
              <%= link_to " Delete ❌", my_food_offer_path(offer), method: :delete , class: "btn btn-outline-danger"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
