<div class="row justify-content-center">
  <div class="col-8 p-4">
    <h2>Donation form</h2>
    <%= simple_form_for(@food_offer) do |f| %>
      <%= f.input :offer_name, label: "Donation title" %>
      <%= f.input :offer_description, label: "Description"%>
      <%= f.input :category, label: "Category"%>
      <%= f.input :total_unit, label: "Total Unit"%>
      <%= f.input :delivery, as: :boolean, checked_value: true, unchecked_value: false %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
