<h1>Create a new food offer</h1>


<%= form_for(@food_offer) do |offer| %>
  <%= offer.label :offer_name %>
  <%= offer.text_field :offer_name %>
  <%= offer.label :category %>
  <%= offer.text_field :category %>
  <%= offer.label :total_unit %>
  <%= offer.number_field :total_unit %>
  <%= offer.submit "" %>


<% end %>




<%= link_to("See all food offers", my_food_offers_path) %>
