<!-- TEST DESIGN FOR NEW CARD begining -->
<div class="container">

  <div class="d-flex justify-content-center my-5">
    <div class="idcard">
      <div class="idcard-header bg-white mt-4">
        <%= cl_image_tag "#{@food_offer.user.photo_url}",width: 300, height: 250 %>
      </div>
      <div class="act-title-box m-5">
        <p class="act-title"><%=@food_offer.user.company_name %></p>
      </div>

      <div class="row"> <!-- offer description + datepicker begining -->
        <div class="col-6 mt-4 pl-5">
          <div>
            <p><b><%= @food_offer.category %></b></p>
            <p><%= @food_offer.offer_description %></p>
          </div>
        </div>
        <div class="col-6">
          <div class="idcard-body">
            <h5><b>Select a pickup time range</b></h5>
            <p></p>
              <%= simple_form_for([@food_offer, @order]) do |f| %>
                <%= f.input :start_order_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.input :end_order_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.button :submit, "Go", class: "btn btn-primary" %>
              <% end %>
          </div>
        </div>
      </div> <!-- offer description + datepicker begining -->
        <div class="user-info mb-3">
          <p class="text-center"><small> Offer posted
          <% start_time =  @food_offer.created_at %>
          <% end_time   =  Date.today %>
          <%= distance_of_time_in_words(start_time, end_time) %>
          ago
          </small></p>
        </div>
    </div>
  </div>
</div>


<!-- TEST DESIGN FOR NEW CARD end -->
