<h1>Discover all the food offers</h1>

<div class="row">
  <div class="col-8 border my-4">
    <% @food_offers.each do |offer| %>

    <p>Product name: <%=  offer.offer_name %></p>
    <p>Product category: <%=  offer.category %></p>
    <p>Quantity: <%=  offer.total_unit %></p>
    <p>Provider: <%= offer.user.company_name %></p>

    <%= link_to "Discover", food_offer_path(offer) %>
  <% end %>
  </div>
</div>
