<div class="container">
<% @food_offers.each do |offer| %>
  <div class="card m-4 rounded" style="max-width: 720px;">
    <div class="row">
      <div class="col-md-6">
        <%= cl_image_tag "#{offer.user.photo_url}", width: 200, height: 200%>
      </div>
      <div class="col-md-6">

        <div class="card-body">
          <p class="recipe-tags">
          <h3><span class="recipe-tag"><%= offer.user.company_name %> </span></h3>
          <h4 class="recipe-title text-secondary"><%= offer.category %></h4>

          </p>
          <p class="recipe-metadata">
            <span class="recipe-rating">★★★★<span>☆</span></span>
            <span class="recipe-votes">(5 reviews)</span>
          </p>
          <p class="card-text"><small class="text-muted">Total weight: <strong><%= offer.total_unit %> (kg) </strong></small></p>

          <button class="btn btn-sm btn-outline-success">
            <%= link_to "Discover", food_offer_path(offer) %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
