<nav class="navbar p-0">
      <% if user_signed_in? %>
        <% if current_user.role == "Provider" %>
            <%= link_to home_providers_path(current_user), class: "navbar-brand" do %>
              <%= cl_image_tag "v1637803392/development/logo-home-page_oxyxhh.png", :height=>150, :width=>150%>
            <% end %>
            <ul class="nav-links">
              <div class="menu">

                <li class="nav-item active">
                  <%= link_to "About Us", "/about_us", class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "Contact Us", "/contact_us", class: "nav-link" %>
                </li>

                <li class="nav-item active">
                  <%= link_to "My Offers", my_food_offers_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              </div>
            </ul>
        <% else %>
          <%= link_to home_shelters_path(current_user), class: "navbar-brand" do %>
              <%= cl_image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1637803392/development/logo-home-page_oxyxhh.png", :height=>150, :width=>150%>
          <% end %>
          <ul class="nav-links">
              <div class="menu">

                <li class="nav-item active">
                  <%= link_to "About Us", "/about_us", class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "Contact Us", "/contact_us", class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
                </li>

                <li class="nav-item active">
                  <%= link_to "Orders", my_orders_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              </div>
            </ul>

        <% end %>
      <% else %>
          <div class="logo">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= cl_image_tag "v1637771780/ex-animo/logo-home-page_qy4r3s.png", :height=>150, :width=>150%>
            <% end %>
          </div>
          <ul class="nav-links">
            <div class="menu">
              <li class="nav-item active">
                <%= link_to "About Us", "/about_us", class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "Contact Us", "/contact_us", class: "nav-link" %>
              </li>

              <li class="nav-item active">
                <%= link_to "For Providers","/providers" , class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "For Shelters", "/shelters", class: "nav-link" %>
              </li>

              <li class="nav-link-sign-in">
                <%= link_to "Sign In", new_user_registration_path, class: "nav-link" %>
              </li>
          </ul>
        </div>
      <% end %>
</nav>
