<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Ex-Animo", "/", class: "navbar-brand" %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.role === "Provider" %>
          <%= link_to "Ex-Animo",home_providers_path(current_user), class: "navbar-brand" %>
          <li class="nav-item dropdown">
            <%= image_tag "https://img.icons8.com/ios-filled/50/000000/menu--v1.png", class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" data-aos="fade-left"aria-labelledby="navbarDropdown">
              <%= link_to "Offers",my_food_offers_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <%= link_to "Ex-Animo",home_shelters_path(current_user), class: "navbar-brand" %>
          <li class="nav-item dropdown">
            <%= image_tag "https://img.icons8.com/ios-filled/50/000000/menu--v1.png",class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Orders", my_orders_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item active">
          <%= link_to "For Providers","/providers" , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "For Shelters", "/shelters", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "About Us", "/about_us", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact Us", "/contact_us", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
