

<!-- page container begining -->

<div class="container">

  <!-- Intro - who we are begining -->
  <div class="row justify-content-center">
    <div class="col-8 mx-auto px-0">
      <div class="text-intro-title my-5">
        <h2 class="text-center">Who are we?</h2>
      </div>
      <div class="text-intro-summary">
        <p>In our service territory, two in five people
        are food insecure – meaning they may not know where
        their next meal will come from. Ex-Animo seeks to
        bridge the meal gap, connecting individuals with
        the nutritious meals they need to succeed.</p>
      </div>
    </div>
  </div>
  <!-- Intro - who we are end -->

  <div class="space-box my-3 py-3">
  </div>

  <!-- scroll down menu begining -->

  <div class="row justify-content-center"> <!-- first row -->
    <div class="col-4 pl-0 ml-0 pt-5 mt-5">
      <p>Our mission is to ensure that everyone in our
      communities has the nutritious food they need
      every day.</p>
    </div>
    <div class="col-4 pr-0 mr-0">
      <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638038769/ex-animo/about_us3_jssma1.jpg", width:500, height:400 %>
    </div>
  </div>



  <div class="row justify-content-center"> <!-- second row -->
    <div class="col-4 pr-0 mr-0">
      <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638038768/ex-animo/about_us2_fu6qzv.jpg", width:500, height:400 %>
    </div>
    <div class="col-4 pl-0 ml-0 pt-5 mt-5">
      <p>Food banking is a proven solution for nourishing
      communities through dedicated and unified action.</p>
    </div>
  </div>

  <div class="row justify-content-center"> <!-- third row -->
    <div class="col-4 pl-0 ml-0 pt-5 mt-5">
      <p>We believe that food banks are an integral
      and viable solution in empowering the world to
      defeat hunger and change lives.</p>
    </div>
    <div class="col-4 pr-0 mr-0">
      <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638038820/ex-animo/about_us4_geocsl.jpg", width:500, height:400 %>
    </div>
  </div>

  <!-- scroll down menu end -->

  <!-- team menu begining -->

  <div class="row justify-content-center">
    <div class="col-8 mx-auto px-0">
      <div class="text-team-title my-5">
        <h1 class="text-center">Our Team</h1>
      </div>
    </div>
  </div>

  <!-- team menu end -->

  <!-- Team cards -->

  <div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <div class="card p-3 py-4 align-items-center">
        <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638037864/ex-animo/raphael_uko13i.jpg", class: "rounded-circle", width:100 %>
        <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">CSO</span>
          <h5 class="mt-2 mb-0">Raphael Pestana</h5> <span>Security Commander</span>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card p-3 py-4 align-items-center">
        <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638037864/ex-animo/Luiz_irgape.jpg", class: "rounded-circle", width:100 %>
        <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">CMO</span>
          <h5 class="mt-2 mb-0">Luiz Figueira</h5> <span>Marketing Manager</span>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card p-3 py-4 align-items-center">
        <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638037864/ex-animo/paolo_t5rbrv.jpg", class: "rounded-circle", width:100 %>
        <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">CPO</span>
          <h5 class="mt-2 mb-0">Paolo Vargas</h5> <span>Programming Manager</span>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card p-3 py-4 align-items-center">
        <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638037864/ex-animo/diego_tbxixs.png", class: "rounded-circle", width:100 %>
        <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">CEO</span>
          <h5 class="mt-2 mb-0">Diego Guerra</h5> <span>Design Manager</span>
        </div>
      </div>
    </div>
  </div>

<!-- Team cards end -->


<!-- FOOTER begining-->

  <div class="d-flex flex-column h-100">

    <footer class="w-100 py-4 flex-shrink-0">
      <div class="footer-box py-4 pl-5">
        <div class="row gy-4 gx-5">

          <div class="col-3">
              <h5 class="text-black mb-3">Terms and conditions</h5>
              <ul class="list-unstyled text-muted">
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Data Policy</a></li>
              </ul>
          </div>

          <div class="col-2" id="social_icons">
            <h5 class="text-black mb-3" id="follow-us">Follow Us</h5>
            <a class="black-text text-lighten-3" style="padding-left:18px;" href="#!"><i class="fab fa-whatsapp fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-instagram fa-2x"></i></a>
          </div>

          <div class="col-4">
              <h5 class="h1 text-black text-center">Ex Animo Inc.</h5>
              <p class="small text-muted">Non-governmental organization devoted to helping those in need</p>
              <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">©Ex-Animo</a></p>
          </div>

          <div class="col-3">
              <h5 class="text-black mb-3">Newsletter</h5>
              <p class="small text-muted">Learn more about our charity initiatives, and receive constant updates from us.</p>
              <form action="#">
                  <div class="input-group mb-3">
                      <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                  </div>
              </form>
          </div>

        </div>

      </div>
    </footer>
  </div>

<!-- FOOTER begining-->








</div>

<!-- page container end -->
