<div class="container">
  <div class="row y-5">

    <div class="col my-5">
      <div class="logo-img"> <!--- logo --->
        <%= image_tag "https://source.unsplash.com/random", alt: "Logo", width: 150, height: 150%>
      </div>

      <div class="basket-img"> <!--- basket image --->
        <%= image_tag "https://source.unsplash.com/random", alt: "Logo", width: 150, height: 150%>
      </div>

    </div>

    <div class="col my-5"> <!--- navbar links --->

      <div class="home-slogan-box"> <!--- left side text intro --->
        <h2 class="home-slogan">Fight hunger
        <br>fight food
        <br>waste<h2>
      </div>

      <div class="home-intro">
        <p>We connect food producers
        <br>with homeless shelters
        <br>to provide food to people in need
        <br>in order to prevent waste.<p>
      </div>

    </div>
  </div>

  <div class="info-scrolldown"> <!--- info scrolldown bar --->

    <div class="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="info-bar-txt">Brazil is in the grim list of top 10 countries that waste the most food</p>
      </div>

    </div>

    <div class="info-img"> <!--- info img --->
      <%= image_tag "https://source.unsplash.com/random", style: 'height:500px;width:100%;'%>
    </div>

    <div class="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="info-bar-txt">Food waste generates a resounding loss of 940 billion dollars per year, affecting not only the less priviliged but also Brazil’s economy</p>
      </div>

    </div>

    <div class="info-img"> <!--- info img --->
      <%= image_tag "https://source.unsplash.com/random", style: 'height:500px;width:100%;'%>
    </div>

    <div class="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="info-bar-txt">So why not donate the excess food to those in need?</p>
      </div>

    </div>

    <div class="info-img"> <!--- info img --->
      <%= image_tag "https://source.unsplash.com/random", style: 'height:500px;width:100%;'%>
    </div>
  </div>


  <div class="sign-up"> <!--- sign up section --->
    <div class=sign-up-bar>
      <h3 class="info-bar-txt">Sign up and start helping your local community</h3>
    </div>

    <div class="row">
      <div class="col-6 align-middle">
        <p>Own a business that produces excess food?</p>
        <button type="button" class="btn btn-success">Provider sign up</button>
      </div>

      <div class="col-6">
        <p>Manage a shelter with unfullfiled food needs?</p>
        <button type="button" class="btn btn-success">Shelter sign up</button>

      </div>
    </div>



  </div>


</div>
